* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1240px;
	height: 90vh;
	margin: 0 auto;
	padding: 15px;
}

.wrapper-settings,
.wrapper-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	margin-bottom: 40px;
}

button {
	cursor: pointer;
	min-width: 50px;
	height: 25px;
	border-radius: 30px;
	border: none;
	padding: 15px;
	display: flex;
	align-items: center;
}
button:hover {
	border: 1px solid green;
}
.wrapper-figure {
	position: relative;
	border: 1px solid orange;
	height: 90%;
	margin-top: 10px;
}

.figure {
	width: 50px;
	height: 50px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.triangle-top {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	position: absolute;
	z-index: -1;
}
